@charset 'utf-8';
.root {
    color: white;
    display: inline-block;
    height: 21.6px;
    width: 29.8125px;
    perspective-origin: 22.9px 10.8px;
    transform-origin: 22.9px 10.8px;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold normal 14px / 16.8px 'Helvetica Neue', Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 8px;
}
